 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

body {
    color: white;
    text-align: center;
    width: 350px;
    height: auto;
    padding: 15px;
    background: linear-gradient(135deg, #171726, #1c2b54);
}

.main {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 11px;
    padding: 18px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.4s ease;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2),
                inset 2px 2px 10px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px)
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.25);
}

#search-input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.18); 
    color: white;
    outline: none;
    transition: all 0.5s ease;
    outline: none;
    box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.25);
}

#search-input::placeholder {
    color: rgba(255, 255, 255, 0.9);
}

#search-input:focus {  
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px rgba(213, 12, 119, 0.9); /* As i will hover input box it will give shadow*/
}

#btn {
    width: 100%;
    border: none;
    color: rgb(48, 82, 95);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px;
    margin-top: 10px;
    background: rgb(218, 218, 11);
    transition: 0.8s; /* to make it smooth */
}

#btn:hover {
    box-shadow: 2px 2px 10px rgba(213, 12, 119, 0.9);
}

#btn:active {  /*as i click on btn*/
    transform: scale(1.05);
}

#output {
    margin-top: 15px;
    padding: 10px;
    text-align: left;
    background: rgba(198, 196, 196, 0.2);
    border-radius: 6px;
    font-size: 0.5; /* Make text readable on small screens */
    min-height: 20px;
    display: none;
    color: white;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}




#btn:hover {
    background: rgb(65, 58, 149);
    color: white;
}
/*
#output {
    max-width: 100%;
    max-height: 350px;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    background: rgba(243, 239, 239, 0.3); /* Light transparent background */
    /* font-size: 15px;
    text-align: left;
    padding: 9px;
    backdrop-filter: blur(6px);
    border-radius: 5px;
    line-height: 1.5;  */
 /* }  */


